name: Build diagram
on:
  workflow_dispatch:

  repository_dispatch:
    types: [update]

  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  diagram:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Checkout and update the translation-backup submodule
        run: git submodule update --init --remote

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.6
        with:
          version: "latest"

      - name: Run update script
        env:
          TX_TOKEN: ${{ secrets.TX_TOKEN }}
        run: |
          pipx install poethepoet
          poe run

      - name: Commit changes
        if: ${{ contains(fromJSON('["workflow_dispatch", "schedule", "repository_dispatch"]'), github.event_name) }}
        uses: EndBug/add-and-commit@v9.1.4
        with:
          author_name: github-actions[bot]
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "Update diagram"
